@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --color-primary: #00a3e0;
  --color-secondary: #470a68;
  --color-success: #87d500;
  --color-accent: #e87722;

  /* Dark themes below */
  --color-dark-primary: rgba(31, 41, 55, 1);
  --dark-text: rgba(187, 193, 198, 1);
}

@tailwind base;
@tailwind components;

@tailwind utilities;
@layer components {
  .btn {
    @apply tw-flex tw-h-[36px] tw-min-w-[106px] tw-flex-row tw-items-center tw-justify-center tw-rounded-md  tw-text-xs tw-font-medium tw-not-italic tw-leading-4 tw-text-white;
  }
  .btn-outline {
    @apply tw-flex tw-h-[36px] tw-min-w-[106px] tw-flex-row tw-items-center tw-justify-center tw-rounded-md tw-border-[1.5px] tw-border-solid tw-border-primary  tw-text-xs tw-font-medium tw-not-italic tw-leading-4 tw-text-primary hover:tw-bg-secondaryLightBlue disabled:tw-cursor-not-allowed disabled:tw-border-textUltraLightGray  disabled:tw-text-textLightGray;
  }
  .btn-primary {
    @apply tw-bg-primary hover:tw-bg-secondaryBlue focus:tw-bg-secondaryDarkBlue disabled:tw-cursor-not-allowed disabled:tw-bg-textUltraLightGray disabled:tw-text-white;
  }
  .btn-secondary {
    @apply tw-bg-secondaryGreen hover:tw-bg-secondaryMediumGreen focus:tw-bg-secondaryDarkGreen disabled:tw-cursor-not-allowed disabled:tw-bg-textUltraLightGray disabled:tw-text-white;
  }
  .alert-error {
    @apply tw-ml-auto tw-flex tw-h-[50px] tw-w-full tw-max-w-[437px] tw-items-center tw-justify-between tw-bg-dangerLight tw-p-[16px] tw-font-dm tw-text-xs tw-font-normal tw-not-italic tw-leading-4 tw-text-danger;
  }
  .alert-success {
    @apply tw-ml-auto tw-flex tw-h-[50px] tw-w-full tw-max-w-[437px] tw-items-center tw-justify-between tw-bg-secondaryLightGreen tw-p-[16px] tw-font-dm tw-text-xs tw-font-normal tw-not-italic tw-leading-4 tw-text-secondaryGreen;
  }
}
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
} */
